{% extends "base.html" %}
{% load i18n %}
{% block title %}гость{% endblock %}
{% block content %}

<h3>
Дорогой гость,
</h3>
мы рады приветствовать вас в нашей системе <b>Brain-Mapper</b> <br>
Здесь вы можете пополнить и проверить свои знания по предметам школьной программы и не только.<br>
Информация в системе представлена в виде учебников. <br>
Один из учебников описывает нашу систему.<br>
<a href="/tree_nav/1/" target="navigator">Читать описание системы</a><br>
<a href="/see_us/all/" target="us">Посмотреть сотрудников</a><br>

<button class="accordion"><b>Как стать сотрудником</b></button>
<div class="panel">
Сотрудников принимает на работу ДИРЕКТОР.
Посмотрите наших директоров, выберите того, кто вызывает у вас наибольшее доверие
и напишите ему письмо. Или свяжитесь с ним любым иным способом.
<a href="/see_us/dir/" target="us">Посмотреть директоров</a>

</div>

<button class="accordion"><b>Как стать клиентом</b></button>
<div class="panel">
Клиентов (студентов и родителей) подключает к системе ТЬЮТОР.
Посмотрите наших тьюторов, выберите того, кто вызывает у вас наибольшее доверие
 и напишите ему письмо. Или свяжитесь с ним любым иным способом.
<a href="/see_us/tut/" target="us">Посмотреть тьюторов</a>
</div>
{% endblock %}
