{% extends "base.html" %}
{% load i18n %}
{% block title %}гость{% endblock %}
{% block content %}

<h3>
Дорогой гость,=Dear guest=
</h3>
мы рады приветствовать вас в нашей системе
=Nice to see you in our system=
<b>Brain-Mapper</b> <br>
Здесь вы можете пополнить и проверить свои знания по предметам школьной программы и не только.
=Here you can get knowledge of school curicculum and beyond=<br>
Информация в системе представлена в виде учебников. =We pack the knowledge in books=<br>
Один из учебников описывает нашу систему.=One of this book describes the system itself=<br>
<a href="/tree_nav/1/" target="navigator">Читать описание системы=Read about system=</a><br>
<a href="/see_us/all/" target="us">Посмотреть сотрудников=Our Staff</a><br>

<button class="accordion"><b>Как стать сотрудником=How to be hired=</b></button>
<div class="panel">
Сотрудников принимает на работу ДИРЕКТОР.=Principal is hiring new staff=
Посмотрите наших директоров, выберите того, кто вызывает у вас наибольшее доверие
и напишите ему письмо. Или свяжитесь с ним любым иным способом.
=Look at our directors, select one, write him/her a letter=
<a href="/see_us/dir/" target="us">Посмотреть директоров=Our Principals</a>

</div>

<button class="accordion"><b>Как стать клиентом</b></button>
<div class="panel">
Клиентов (студентов и родителей) подключает к системе ТЬЮТОР.=Parents and students may be enrolled by tutor=
Посмотрите наших тьюторов, выберите того, кто вызывает у вас наибольшее доверие
 и напишите ему письмо. Или свяжитесь с ним любым иным способом.=Look at our tutors and send him/her a letter=
<a href="/see_us/tut/" target="us">Посмотреть тьюторов=our Tutors</a>
</div>
{% endblock %}
