{% extends 'base.html' %}
{% load i18n %}
{% block title %}Teacher{% endblock %}
{% block content %}
<h2>Темы и ученики</h2>
<table class="table">
  <thead>
     <tr>
       <th>Студент</th>
             <th>Тема</th>
       <th>когда назначено</th>
        <th>tree</th>

     </tr>
   </thead>
   <tbody>
{% for b in qs %}
<tr>
  <td>{{b.student}} = {{b.student.id}}</td>
<td>{{b.book}} = {{b.book.id}}</td>
<td>{{b.updated_at}}</td>

<td><a href="/subtree2/{{b.id}}/" target="subtree" title='subtree'>
<i class="fas fa-tree"></i>
  <a></td>

</tr>
{% endfor %}
</tbody>
</table>
{% endblock %}
