{% extends "base.html" %}
{% load i18n %}
{% block title %}тьютор{% endblock %}
{% block content %}
<h3>
тьютор
</h3>
  <h2><a href="/register_tut/">
    Зарегистрировать нового пользователя.</a>
  </h2>

<h2>Посмотреть своих. Заполнить профиль. </h2>

<button class="accordion"><b>родители</b></button>
<div class="panel">
<ul>
{% for q in qs_par %}
<li>{{q}}
  <a href="/prof_img/{{q.id}}/"
  title='edit figure' target="a1">
<i class='far fa-image'></i>
  </a>
  <a href="/my_txt/{{q.id}}/"
  title='edit profile txt' target="a1" >
<i class='far fa-edit'></i>
  </a>{{ q.get_full_name }}  |{{q.email}}|{{q.profile.birth_date}}
  {% if q.profile.img %}<br>
    <img src="{{q.profile.img.url}}"  />
    {% endif %}
</li>
{%  endfor %}
</ul>
</div>

<button class="accordion"><b>студенты</b></button>
<div class="panel">
  <ul>
  {% for q in qs_stu %}
  <li>
    <a href="/kid2book/{{q.id}}/" target="book" title='назначение'>
      <i class="fas fa-book-open"></i>
      </a>
{{q}}
    <a href="/prof_img/{{q.id}}/"
    title='edit figure' target="a1">
<i class='far fa-image'></i>
    </a>
    <a href="/my_txt/{{q.id}}/"
    title='edit txt' target="a1">
<i class='far fa-edit'></i>
    </a>  {{ q.get_full_name }}  |{{q.email}}|{{q.profile.birth_date}}
      {% if q.profile.img %}<br>
    <img src="{{q.profile.img.url}}"  />
        {% endif %}
  </li>
  {% endfor %}
  </ul>
</div>

<button class="accordion"><b>учителя</b></button>
<div class="panel">
  <ul>
  {% for q in qs_tea %}
  <li>{{q}}|
  {{ q.get_full_name }}  |{{q.email}}|{{q.profile.birth_date}}

  </li>
  {%  endfor %}
  </ul>
</div>

  <h2><a href="/kid2parent/">
    Связать родителя и ребенка</a>
  </h2>

{% endblock %}
