{% extends "base.html" %}
{% load i18n %}

{% block content %}

<h3>
Вы кто?
<h3>
<ul>
  <li><a href="i_dir/">директор</a></li>
    <li><a href="i_tut/">тьютор</a></li>
  <li><a href="i_cur/">куррикулист</a></li>
    <li><a href="i_stu/">ученик</a></li>
      <li><a href="i_par/">родитель</a></li>
        <li><a href="i_tea/">учитель</a></li>
          <li><a href="i_gue/">гость</a></li>
              <li><a href="i_adm/">администратор</a></li>
</ul>
{% if user.is_authenticated %}
<a href="/accounts/logout/" title='выйти из системы' >

<button style='font-size:24px'> выйти из системы ({{ user }}) <i class='fas fa-sign-out-alt'></i></button>

</a>
{% else %}
<a href="/accounts/login/" title='войти в систему' >


  <button style='font-size:24px'>  Войти в систему <i class='fas fa-sign-in-alt'></i></button>

</a>
{% endif %}
{% endblock %}
