{% extends "base.html" %}
{% load i18n %}
{% block title %}Home{% endblock %}
{% block content %}

<h3>
Вы кто? 
<h3>
<ul>
{% if user.is_authenticated %}
{% if user.is_superuser %}
          <li><a href="/i_adm/">Администратор</a></li>
{% endif %}
{% if user.is_superuser or user.profile.role == 'D' %}
  <li><a href="/i_dir/">Директор</a></li>
{% endif %}
{% if user.is_superuser or user.profile.role == "D" or user.profile.role == "T" %}
    <li><a href="/i_tut/">Тьютор</a></li>
{% endif %}
{% if user.is_superuser or user.profile.role == "D" or user.profile.role == "W" %}
  <li><a href="/tree_nav/1/" target="navigator">Автор учебника</a></li>
{% endif %}
{% if user.is_superuser or user.profile.role == "D" or user.profile.role == "T" or user.profile.role == "Z" %}
          <li><a href="/i_tea/">Учитель</a></li>
          {% endif %}
          {% if user.is_superuser or user.profile.role == "P"%}
      <li><a href="/i_par/">Родитель</a></li>
      {% endif %}
      {% if user.is_superuser or user.profile.role == "S"%}
    <li><a href="/i_stu/">Ученик</a></li>
      {% endif %}
  {% else %}
          <li><a href="/i_gue/">Гость</a></li>
{% endif %}
</ul>
{% if user.is_authenticated %}
<a href="/accounts/logout/" title='выйти из системы' >

<button style='font-size:24px'> выйти из системы ({{ user }}) <i class='fas fa-sign-out-alt'></i></button>

</a>
{% else %}
<a href="/accounts/login/" title='войти в систему' >
  <button style='font-size:24px'>  Войти в систему <i class='fas fa-sign-in-alt'></i></button>
</a>
{% endif %}
{% endblock %}
