{% extends 'base.html' %}
{% load i18n %}
{% block title %}Par2Kid2book{% endblock %}
{% block content %}
<h2>{{kid}}</h2>
<table class="table">
  <thead>
     <tr>
       <th>Тема</th>
       <th>Учитель</th>
       <th>когда назначено</th>
        <th>закрытые задачи</th>
         <th>открытые задачи</th>
     </tr>
   </thead>
   <tbody>
{% for b in qs %}
<tr>
<td>{{b.book}} = {{b.book.id}}</td>
<td>{{b.teacher}} = {{b.teacher.id}}</td>
<td>{{b.updated_at}}</td>

<td><a href="/book_closed/{{b.id}}/" target="closed" title='closed'>
<i class="fab fa-android"></i>
  <a></td>
<td><a href="/book_open/{{b.id}}/"  title='open'>
<i class="fas fa-dove"></i>
  <a></td>

</tr>
{% endfor %}
</tbody>
</table>
{% endblock %}
