{% extends 'base.html' %}
{% load i18n %}
{% load embed_video_tags %}
{% block title %}Навигатор{% endblock %}
{% block content %}

<div class="row">
  <div class="col-sm-4">
    <a href="/subtree/{{node.id}}/" target="subtree">Поддерево</a>
    <h2>Навигатор</h2>
    {% if parent %}

    {% if parent.book %}
      <i class='fas fa-book' title="учебник"></i>
    {% endif %}

    {% if parent.extra %}
    <i class="fas fa-microscope" title="углубленное изучение"></i>
    {% endif %}

      <a href="/tree_nav/{{parent.id}}/">
    {{ parent }}
      </a>
    <ul>
{% endif %}
{% if node %}
      {% for x in siblings %}
        {% if x != node %}
          <li>
            {% if x.book %}
              <i class='fas fa-book' title="учебник"></i>
            {% endif %}

            {% if x.extra %}
            <i class="fas fa-microscope" title="углубленное изучение"></i>
            {% endif %}

              <a href="/tree_nav/{{x.id}}/">
            {{x}}
              </a>
              {% if not x.is_ready %}
              <i class='fas fa-cog' title="пока не готово"></i>
              {% endif %}
          </li>

        {% else %}
        <li>
          {% if x.book %}
            <i class='fas fa-book' title="учебник"></i>
          {% endif %}

          {% if x.extra %}
          <i class="fas fa-microscope" title="углубленное изучение"></i>
          {% endif %}

          {{x}}
          {% if not x.is_ready %}
          <i class='fas fa-cog' title="пока не готово"></i>
          {% endif %}

          {% if user.is_superuser  or x.owner == user  %}
          <a href="/move_item/{{x.id}}/"
          title='передвинуть узел' target="a1">

<i class='fas fa-plane'></i>
          </a>

          <a href="/change_figure/{{x.id}}/"
          title='изменить картинку' target="a1">

<i class='far fa-image'></i>

          </a>
          <a href="/change_txt/{{x.id}}/"
          title='редактировать текст' target="a1">

<i class='far fa-edit'></i>

          </a>
{% if node.has_exam %}
<a href="/q_list/{{x.id}}/" target="quiz" title="смотреть вопросы и задачи">
<i class='far fa-question-circle'></i>
</a>
{% endif %}
          {% endif %}
          <ul>
            {% for t in children %}
              <li>
                {% if t.book %}
                  <i class='fas fa-book' title="учебник"></i>
                {% endif %}

                {% if t.extra %}
                <i class="fas fa-microscope" title="углубленное изучение"></i>
                {% endif %}

                <a href="/tree_nav/{{t.id}}/">
                {{t}}
                </a>
                {% if not t.is_ready %}
                  <i class='fas fa-cog' title="пока не готово"></i>
                {% endif %}
              </li>
              {% endfor %}
          </ul>
        </li>
         {% endif %}
      {% endfor %}
    </ul>
  </div>

  <div class="col-sm-8">
    <h2>{{node}} </h2>

    {% if node.figure and node.figure != 'False'%}<br>
    <img src="{{node.figure.url}}"  />
<br>
{% endif %}
    {% if node.text %}
    <p>
    {{node.text|linebreaks }}
  </p>
    {% endif %}
  <br>
    {% if node.video %}
{% video node.video 'medium' %}
    {% endif %}

{% if node.sites %}
<h3>Сайты</h3>
{% for x in node.sites %}
<a href="{{x}}" target="extlink">{{x}}</a><br>
{% endfor %}
{% endif %}
{% endif %}

{% if node.has_exam %}
<a href="/q_list/{{node.id}}/" target="quiz" title="Вопросы и задачи">
<h2>Вопросы и задачи</h2>
</a>
{% endif %}

{% if node.next %}
<a href="/tree_nav/{{node.next.id}}/">
<h2>Далее</h2>
</a>
{% endif %}
  </div>
</div>

{% endblock %}
