{% extends 'base.html' %}
{% load i18n %}
{% load embed_video_tags %}
{% block title %}Навигатор=Navigator{% endblock %}
{% block content %}

<div class="row">
  <div class="col-sm-4">
        {% if node and node.id %}
    <a href="/subtree/{{node.id}}/" target="subtree">Поддерево=Subtree</a>
    {% else %}
      <a href="/subtree/0/" target="subtree">дерево=Tree</a>
      {% endif %}
    <h2>Навигатор=Navigator</h2>
    {% if parent %}

    {% if parent.book %}
      <i class='fas fa-book' title="учебник=book"></i>
    {% endif %}

    {% if parent.extra %}
    <i class="fas fa-microscope" title="углубленное изучение=deep learning"></i>
    {% endif %}

      <a href="/tree_nav/{{parent.id}}/"
      {% if parent.date1 %}
       title="{{parent.date1}}-{{parent.date2}}"
       {% endif %}
       >
    {{ parent }}
      </a>
    <ul>
{% endif %}
{% if node %}
      {% for x in siblings %}
        {% if x != node %}
          <li>
            {% if x.book %}
              <i class='fas fa-book' title="учебни=book"></i>
            {% endif %}

            {% if x.extra %}
            <i class="fas fa-microscope" title="углубленное изучение=deep learning"></i>
            {% endif %}

              <a href="/tree_nav/{{x.id}}/"
              {% if x.date1 %}
               title="{{x.date1}}-{{x.date2}}"
                {% endif %}
               >
            {{x}}
              </a>
          </li>

        {% else %}
        <li>
          {% if x.book %}
            <i class='fas fa-book' title="учебник=book"></i>
          {% endif %}

          {% if x.extra %}
          <i class="fas fa-microscope" title="углубленное изучение=deep learning"></i>
          {% endif %}

          {{x}}

          {% if user.is_superuser  or x.owner == user  %}
          <a href="/move_item/{{x.id}}/"
          title='передвинуть узел=move node' target="a1">

<i class='fas fa-plane'></i>
          </a>

          <a href="/change_figure/{{x.id}}/"
          title='изменить картинку=change picture]' target="a1">

<i class='far fa-image'></i>

          </a>
          <a href="/change_txt/{{x.id}}/"
          title='редактировать текст=edit' target="a1">

<i class='far fa-edit'></i>

          </a>
{% if node.has_exam %}
<a href="/q_list/{{x.id}}/" target="quiz" title="смотреть вопросы и задачи=look at tasks">
<i class='far fa-question-circle'></i>
</a>
{% endif %}
          {% endif %}
          <ul>
            {% for t in children %}
              <li>
                {% if t.book %}
                  <i class='fas fa-book' title="учебник=book"></i>
                {% endif %}

                {% if t.extra %}
                <i class="fas fa-microscope" title="углубленное изучение=deep learning"></i>
                {% endif %}

                <a href="/tree_nav/{{t.id}}/"
                {% if t.date1 %}
                 title="{{t.date1}}-{{t.date2}}"
                 {% endif %}
                 >
                {{t}}
                </a>
              </li>
              {% endfor %}
          </ul>
        </li>
         {% endif %}
      {% endfor %}
    </ul>
  </div>

  <div class="col-sm-8">
    <h2>{{node}} </h2>
    {% if node.date1 %}
{{node.date1}}-{{node.date2}}<br>
    {% endif %}
    {% if node.figure and node.figure != 'False'%}<br>
    <img src="{{node.figure.url}}"  />
<br>
{% endif %}
{% if node.fig_link %}<br>
<img src="{{node.fig_link}}"  />
<br>
{% endif %}

    {% if node.text %}
    <p>
    {{node.text|linebreaks }}
  </p>
    {% endif %}
  <br>
    {% if node.video %}
{% video node.video 'medium' %}
    {% endif %}

    {% if node.video2 %}
{% video node.video2 'medium' %}
    {% endif %}

    {% if node.video3 %}
{% video node.video3 'medium' %}
    {% endif %}


{% if node.site1 %}
<a href="{{node.site1}}" target="extlink">{{node.site1}}</a><br>
{% endif %}
{% if node.sites %}
{% for x in node.sites %}
<a href="{{x}}" target="extlink">{{x}}</a><br>
{% endfor %}
{% endif %}
{% endif %}

{% if node.has_exam %}
<a href="/q_list/{{node.id}}/" target="quiz" title="Вопросы и задачи=Tasks">
<h2>Вопросы и задачи</h2>
</a>
{% endif %}

{% if node.next %}
<a href="/tree_nav/{{node.next.id}}/">
<h2>Далее</h2>
</a>
{% endif %}
  </div>
</div>

{% endblock %}
