{% extends "base.html" %}
{% load i18n %}
{% block title %}Subtree{% endblock %}
{% block content %}
<h3>{% trans 'Subtree' %}</h3>
{% for item, info in annotated_list %}
    {% if info.open %}
        <ul><li>
    {% else %}
        </li><li>
    {% endif %}
<a href="/tree_nav/{{item.id}}/" target="navigator">
    {{ item }}
</a>
    {% if not item.is_ready %}

      <i class='fas fa-cog' title="not ready yet"></i>

    {% endif %}
    {% if user.is_superuser or item.owner == user %}
    <a href="/add_item/{{item.id}}/1/" title='add before' target="c1">
<i class='fas fa-arrow-up'></i>
    </a>
    <a href="/add_item/{{item.id}}/2/" title='add after' target="c1">
<i class='fas fa-arrow-down'></i>
    </a>
    <a href="/add_item/{{item.id}}/3/" title='add child' target="c1">
<i class='fas fa-arrow-right'></i>
    </a>
    {% endif %}

    {% for close in info.close %}
        </li></ul>
    {% endfor %}
{% endfor %}
{% endblock %}
